/* 此文件中包含所有页面都共用的全局CSS */
*{     /*选择所有元素*/
	/* box-sizing: content-box;  内容盒子 */
	box-sizing: border-box; /* 边框盒子，简化盒子尺寸计算 */
}
body{
	margin: 0;
	color: #555;
	background: #fff;
	font-family: "arial, helvetica, sans-serif";  /*字体*/
	font-size: 12px;          /*字体大小*/
	line-height: 1.667;       /*行高*/
}
a{
	color: #555;
	text-decoration: none;
}
a:hover{       /*伪类选择器，选中鼠标*/
	color: #f60;
}